<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(https://www.kotak.com/content/dam/Kotak/product_card_images/how-credit-cards-enhance-your-shopping-experience.jpg); background-size:cover" >
   

<div class="user-login">
    <h1>Admin Login</h1>
    <form action="/admin/login" method="POST">
<div class="">
  <label for="formGroupExampleInput" class="form-label" >Email</label>
  <input type='email' name="email" class="form-control" id="formGroupExampleInput" placeholder="Email" required>
</div>
<div class="">
  <label for="formGroupExampleInput2" class="form-label">Password</label>
  <input type="password" name="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" required>
</div>
<button type="submit" class="btn-user">Login</button>
</form>
</div>