<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    
<nav class="admin-navbar">


  
     <span class="admin-headding"><strong>ADMIN PANEL</strong></span> 
    <input type="text" placeholder="Search..."> 
   <span id="all-product"><a href="https://www.figma.com/file/7O6wJisVIzBvizb2do3qyW/Untitled">All products</a></span>

  <span id="all-oders"><a href="https://www.youtube.com/watch?v=Hv0AiWFAiRg&t=381s">All oders</a></span>

   <span id="all-users"><a href="https://www.youtube.com/watch?v=Hv0AiWFAiRg&t=381s">All users</a></span> 

   <button id="admin-logout">Logout</button>

</nav>
</body>
</html>