<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    
<nav class="navbar">


  <div class="box">
    <span class="span-navbar"><strong>MYNTRA</strong></span>
    <input type="text" placeholder="Search...">
  <span id="register"><a href="https://www.figma.com/file/7O6wJisVIzBvizb2do3qyW/Untitled">Register </a></span>

  <span id="cart"><a href="https://www.youtube.com/watch?v=Hv0AiWFAiRg&t=381s"> Cart</a></span>

  <a href=""><img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_ED2vW7yAzDNS7A-ZrleUQmQZTGHeMEy-uw&usqp=CAU"
      id="cart-img" alt="hhhhh"></a>

 <button id="btn-signup"><a href="/signupRq"> Signup</a></button>

  <button id="btn-logout">Logout</button>

</nav>



</body>
</html>






  