<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(https://i.guim.co.uk/img/media/a2edc8ada375122922d71a919834ae0ea8814e9d/0_245_5132_3080/master/5132.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=2cf9104ad8d16eb377aed8c130cc6055); background-size:cover" >
    <div class="login">
        <h1>Login Form</h1>
    <form action="/login" method="POST">
    <label>Email</label>
<input type="email" placeholder="Email" name="email" id=""><br>
<label >Password</label>
<input type="password" placeholder="Password"><br>

<button>Login</button>

</div>

</form>
</div>

</body>
</html>




