<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(https://economictimes.indiatimes.com/thumb/msid-68721417,width-1200,height-900,resizemode-4,imgsize-1016106/nature1_gettyimages.jpg?from=mdr); background-size:cover;background-repeat: no repeat;">
   

<div class="signup">
     <h1 id="sigunp-h1">Signup form</h1>
<form action="/signup" method="post" id="signup-form">
<label for="" >First Name</label>
<input type="text" placeholder="First Name" name="fname" required><br>
<label>Last Name</label>
<input type="text" placeholder="Last Name "name="lname" id="" required><br>
<label>Email</label>
<input type="email" placeholder="Email" name="email" id="" required><br>
<label for="" >Password</label>
<input type="password" placeholder="Password" name="password" required id=""><br>
<label for="" >Phone</label>
<input type="number" placeholder="Phone" name="ph" id="" required><br>
<button class="btn-sub"> Submit</button>

</form>
</div>
</body>
</html>
 











