<header class="header">



  <div class="container-css">
    {{#each products}}
    <div class="row mt-5" >

      <div class="card" style="width: 18rem;">
        <img src="/product-images/{{this._id}}.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.Name}}</h5>
          <p class="card-text">Category:{{this.Category}}</p>
          <p class="card-text">Price:{{this.Price}}</p>
          <a href="/addcart" style="display: inline;" class="btn btn-primary">Add to cart</a>
           <a href="/addcart" style="display: inline;" class="btn btn-success">Buy</a>
        </div>
      </div>

    </div>

{{/each}}
  </div>

  </header>
<footer class="footer" style="background-color: black; width: 100%; height: 200px; margin-top: 20%;">

</footer>



