body{
  margin: 0;
}

*{
  margin: 0;
}

/* Nave bar start !!!! */


.navbar{
  background-color: rgb(228, 228, 15);
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 1;
  bottom: 87%;
  top:0;
  
  
 
}

#account{
  position: relative;
  left:510%;
  top: -80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: rgb(10, 10, 10);
}

/* Admin Nave bar start !!!! */



.admin-navbar{
  background-color: rgb(15, 170, 149);
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0;
  bottom: 87%;
  z-index: 1;

}

.admin-headding{
  
  color :whitesmoke;
  font-size: 33px;
  padding: 40px;
  display: flex;
  position: fixed;
  
  
  
}





.admin-navbar input{
  position: fixed;
  top: 40px;
  left: 18%;
  bottom: 90%;
  border: none;
  border-radius: 20px 20px 20px;
  outline: none;
  padding: 10px 10px;
  width: 800px;
  font-size: 20px;
}

#all-product{
  position: fixed;

  left: 63%;
  top: 65px;
  
}  


#all-oders{
  position: fixed;
  left: 69%;
  top: 65px;
  
}  

#all-users{
  position: fixed;
  left: 75%;
  top: 65px;
  
}  
#admin-logout{
  position: fixed;
  left: 90%;
  top: 65px;
}

/* Admin navabar End*/

/* Admin header start*/



.containeradmin{
  position: relative;
  top: 150px;
  margin-left: 10%;
  margin-right: 10%;
}

/*Start user navbar .....................................................*/ 

.span-navbar{
  
  color :whitesmoke;
  font-size: 40px;
  padding: 40px;
  display: flex;
  align-items: center;
  
}



.box input{
  position: fixed;
  left: 323px;
  bottom: 90%;
  border: none;
  border-radius: 20px 20px 20px;
  outline: none;
  padding: 10px 10px;
  width: 800px;
  font-size: 20px;
  
  top:50px;
}
#register{
  position: fixed;
  left: 1200px;
  bottom: 90%;
  
}




.cart-icon{
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1100px;
  bottom: 80%;
  display: block;
  font-size: 25px;
}


button{
  border:3px solid white

}

#btn-logout{
  display: block;
  position: fixed;
  left: 1600px;
  bottom: 89%;
}


 a{
  text-decoration: none;
  color: black;
}


.row{
  position: relative;
  top: 150px;
}


/*end user navbar .....................................................*/ 



/*Start header.....................................................*/

/*pop window start*/
#cart{
  position: absolute;
  left: 1300px;
  top: 50px;
  }
  
  #cart:hover{
      cursor: pointer;
      color: blue;
      }
  
  .cart:hover{
      cursor: pointer;
      color: rgb(60, 221, 101);
      }
  .popup{
      width: 500px;
      height: 650%;
      background-color: rgb(249, 249, 249);;
      position: absolute;
      right: 0;
      display: none;
      border: solid 5px rgb(238, 217, 217);
  }


/*pop window end*/




.div-cart{
  display: inline;
  position: relative;
  left: 40px;
  top: 60px;
width: 300px;
height: 400px;
background-color: rgb(248, 241, 241);
}





img{
  width: 301px;
  height: 272px;
}

.div-cart p{
  text-align: center;
}

.signup-form{
  margin-left: 600px;
  margin-top: 200px;
width: 700px;
}

.signup-form input{
  border-radius: 20px 20px 20px;
  outline: none;
  border: none;
}


.signup-form h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  text-align: center;

}

.signup-form button{
  position: relative;
  left: 250px;
  width: 200px;

}


.user-login{
  width: 500px;
  height: 500px;
 margin-left: 700px;
 margin-top: 200px;
} 

.btn-user{
  width: 200px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 150px;
}

.user-login a{
position: relative;
top: 30px;
}

.user-login h1{
  position: relative;
  text-align: center;
  }

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 45px;
  width: 500px;
  flex: 0 0 200px;
  margin-left: 10px;
}


.row{
  display: inline-block;
  position: relative;
  top: 8rem;
  
}
.container-css{
  margin-left: 10%;
  margin-right: 10%;
}





/*End users header.....................................................*/




@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
/* *{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
} */
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.full{
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
}















/*.....................Media query.................................*/






/*mobile device 
***********************************************
*/


@media (max-width:530px){

.navbar{
  top: 0;
}
.full{
  display: block;
}

.user-login{
  width: 80%;
  height: 1000px;
 margin-left: 5%;
 margin-top: 100px;
} 

.btn-user{
  width: 200px;
  height: 50px;
  position: relative;
  top: 10px;
  left: 18%;
}

.user-login a{
position: relative;
top: 30px;
}

.user-login h1{
  position: relative;
  text-align: center;
  }

.signup-form{
  margin-left: 30px;
  margin-top: 100px;
width: 75%;
}

  
  .signup input{
    border-radius: 20px 20px  20px; 
    padding-top: 0;
    outline: none;
    border: none;
   
   }

   .signup-form button{
    position: relative;
    left: 70px;
    width: 70%;
  
  }

  .span-navbar{
    font-size: 25px;
    margin-top:35px;
    margin-left: 180px;
  }
  .box input{
  position: absolute;
  left: 100px;
  bottom: 50%;
  border: none;
  border-radius: 20px 20px 20px;
  outline: none;
  padding: 5px 5px;
  width: 250px;
  height: 35px;
  font-size: 15px;
  
  }
  #register{
  position: absolute;
  left: 180px;
  bottom: 12%;
  display: none;
  }
  #cart{
    position: absolute;
    left: 280px;
    bottom: 12%;
    display: none;
  }
  #cart-img{
  display: none;
  }

#btn-signup{
  display: none;
}
#btn-logout{
  display: none;
}


}



/*tab device 
***********************************************
*/
@media (min-width:530px) and (max-width:872px){
 
  .navbar{
    top: 0;
  }


  .user-login{
    width: 400px;
    height: 500px;
   margin-left: 100px;
   margin-top: 100px;
  } 
  
  .btn-user{
    width: 200px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 15%;
  }
  
  .user-login a{
  position: relative;
  top: 30px;
  }
  
  .user-login h1{
    position: relative;
    text-align: center;
    }

  .signup-form{
    margin-left: 70px;
    margin-top: 100px;
  width: 75%;
  }
  
    
    .signup input{
      border-radius: 20px 20px  20px; 
      padding-top: 0;
      outline: none;
      border: none;
     
     }
  
     .signup-form button{
      position: relative;
      left: 30%;
      width:250px;
    
    }
 
  .span-navbar{
    font-size: 25px;
    padding: 0;
    margin-left: 200px;
    margin-top: 70px;
  }
  
  .full{
    display: block;
  }


  .navbar{
    background-color: rgb(121, 235, 14);
  }
  .box input{
    position: absolute;
    left: 170px;
    top:20px;
    bottom: 40%;
  border: none;
  border-radius: 20px 20px 20px;
  outline: none;
  padding: 5px 5px;
  width: 350px;
  font-size: 15px;

}

#register{
  position: absolute;
  left: 300px;
  bottom: 15%;
  display: none;
  }
  
  #cart-img{
    display: none;
    }
  #btn-signup{
    display: none;
  }
  #btn-logout{
    display: none;
  }

}

/*mediam device 
***********************************************
*/
@media (min-width:872px) and (max-width:1400px){
  
  .navbar{
  
    top: 0;
  }

  .user-login{
    width: 80%;
    height: 500px;
   margin-left: 5%;
   margin-top: 100px;
  } 
  
  
  .user-login a{
  position: relative;
  top: 30px;
  }
  
  .user-login h1{
    position: relative;
    text-align: center;
    }

    .btn-user{
      width: 200px;
      height: 50px;
      position: relative;
      top: 10px;
      left: 40%;
    }

  .signup-form{
    margin-left: 100px;
    margin-top: 150px;
  width: 75%;
  }
  
    
    .signup input{
      border-radius: 20px 20px  20px; 
      padding-top: 0;
      outline: none;
      border: none;
     
     }
  
     .signup-form button{
      position: relative;
      left: 30%;
      width:250px;
    
    }
  
  
  .span-navbar{
    font-size: 25px;
    padding: 0;
margin-left: 10px;
  }
  
  .navbar{
    background-color:red
  }
  .box input{
    position: absolute;
    left: 200px;
    top: 32px;
  border: none;
  border-radius: 20px 20px 20px;
  outline: none;
  padding: 5px 5px;
  width: 600px;
  font-size: 15px;

}
#register{
  position: absolute;
  left: 400px;
  bottom: 6%;
  }
  

  #cart{
    position: absolute;
    left: 490px;
    top: 88px;
    }

  
  #account{
    top:30px
  }
  #btn-logout{
    display: none;
  }
}



/*large device 
***********************************************
*/

@media (min-width:1400px) and (max-width:1800px){
  .navbar{
    top: 0;
  }





  .user-login{
    width: 50%;
    height: 500px;
   margin-left: 25%;
   margin-top: 100px;
  } 
  
  
  .user-login a{
  position: relative;
  top: 30px;
  }
  
  .user-login h1{
    position: relative;
    text-align: center;
    }

    .btn-user{
      width: 200px;
      height: 50px;
      position: relative;
      top: 10px;
      left: 40%;
    }
 
  .signup-form{
    margin-left: 150px;
    margin-top: 150px;
  width: 75%;
  }
  
    
    .signup input{
      border-radius: 20px 20px  20px; 
      padding-top: 0;
      outline: none;
      border: none;
     
     }
  
     .signup-form button{
      position: relative;
      left: 40%;
      width:250px;
    
    }
 
  .span-navbar{
    font-size: 25px;
    padding: 0;
    margin-left: 10px;
  }
  
  .navbar{
    background-color:rgb(255, 7, 201)
  }
  .box input{
    position: absolute;
    left: 150px;
    bottom: 27%;
  border: none;
  border-radius: 20px 20px 20px;
  outline: none;
  padding: 5px 5px;
  width: 700px;
  font-size: 15px;

}

#register{
  position: absolute;
  left: 1000px;
  bottom: 6%;
  }
  #cart{
    position: absolute;
    left: 1100px;
    top: 94px;
  }

  #account{
    top: 28px;
    left: 1250px;
  }
  #btn-logout{
    display: none;
  }
}

.container{
  margin-top: 5%;
}

.row{
  display: inline-block;
  position: relative;
  margin-left: 15px;
}






/*Media query admin page
***********************************************
*/





/*mobile device 
***********************************************
*/


@media (max-width:600px){
  .admin-navbar{
    top: 0;
    background-color: rgb(245, 197, 39);
    
  }

  .admin-headding{
  
    color :whitesmoke;
    font-size: 20px;
    padding: 10px;
    display: flex;
    
    
  }

  .admin-navbar input{
    top: 50px;
    left: 30%;
    bottom: 90%;
    border: none;
    border-radius: 20px 20px 20px;
    outline: none;
    padding: 5px 5px;
    width: 50%;
    height: 30px;
    font-size: 15px;
  }
  #all-product{
    max-width: 100px;
    top: 95px;
    left: 25%;
  }

  #all-users{
    max-width: 100px;
    top: 95px;
    left: 50%;
  }
  #all-oders{
    max-width: 100px;
    top: 95px;
    left: 70%;
  }
  #admin-logout{
    max-width: 100px;
    top: 10px;
  left: 80%;
  }
  .containeradmin{
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}


/*tab device 
***********************************************
*/

@media (min-width:600px) and  (max-width:1000px){
  
  
  .admin-navbar{
    top: 0;
    background-color: rgb(196, 39, 19);
    
  }

  .admin-headding{
  
    color :whitesmoke;
    font-size: 30px;
    padding: 10px;
    display: flex;
    
    
  }

  .admin-navbar input{
    top: 50px;
    left: 30%;
    bottom: 90%;
    border: none;
    border-radius: 20px 20px 20px;
    outline: none;
    padding: 5px 5px;
    width: 50%;
    height: 30px;
    font-size: 15px;
  }
  #all-product{
    max-width: 100px;
    top: 95px;
    left: 300px;
  }

  #all-users{
    max-width: 100px;
    top: 95px;
    left: 400px
  }
  #all-oders{
    max-width: 100px;
    top: 95px;
    left: 500px
  }
  #admin-logout{
    max-width: 100px;
    top: 10px;
  left: 88%;
  }
  
}





/*medim device 
***********************************************
*/


@media (min-width:1000px) and  (max-width:1800px){
  
  .admin-navbar{
    top: 0;
    background-color: rgb(18, 248, 198);
    
  }

  .admin-headding{
  
    color :whitesmoke;
    font-size: 40px;
    padding: 10px;
    display: flex;
    
    
  }

  .admin-navbar input{
    top: 50px;
    left: 30%;
    bottom: 90%;
    border: none;
    border-radius: 20px 20px 20px;
    outline: none;
    padding: 5px 5px;
    width: 50%;
    height: 40px;
    font-size: 15px;
  }
  #all-product{
    max-width: 100px;
    top: 95px;
    left: 40%;
  }

  #all-users{
    max-width: 100px;
    top: 95px;
    left: 50%;
  }
  #all-oders{
    max-width: 100px;
    top: 95px;
    left: 60%;
  }
  #admin-logout{
    max-width: 100px;
    top: 10px;
  left: 90%;
  }
  
}






